@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
	background-image: linear-gradient(315deg #05FF1A, #D105FF);
}
.team-area{
	padding-top: 5%;
}
.single-team{
	background-color: #000;
	margin-bottom: 10px;
}
.single-team:hover .social{
	cursor: pointer;
	opacity: 1;
	transform: rotateY(0deg) scale(1, 1);
}
.img-area{
	overflow: hidden;
	position: relative;
}
.img-area img{
	width: 100%;
}
.img-area:hover img{
	transform: scale(1.2)
}
.img-area img{
	transition: all 0.4s ease 0s;
}
@media (max-width: 768px){
	.img-area img{
		display: inline-block;
	}
}
.img-area .social{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	transition: .5s;
	transform: rotateY(180deg) scale(0.5, 0.5);
}
.img-area .social ul{
	text-align:center;
	position: relative;
	top: 175px;
}
.img-area .social ul li a{
	border: 1px solid #fff;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
}
.img-area .social ul li a:hover{
	background-color: #fff;
	color: #000;
	border: 1px solid transparent;
}
.img-text{
	padding: 25px;
	color: #fff;
	text-align: center;
}
.img-text h4{
	margin: 0 0 5px;
	font-size: 30px;
	font-family: bignoodletitling;
	letter-spacing: 5px;
}
.img-text h5{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.heading {
	font-size: 60px;
	color: white;
}
.heading span {
	font-style: italic;
	font-size: 30px;
}
.img-wrap{width: 100%}
.img-wrap img{width: 100%;padding: 10px;border-radius: 50%;box-shadow: 0 0 10px #999999}

#aboutus h2{margin-bottom: 25px;font-size: 40px;text-align: left;}
#aboutus p{font-size: 16px;color: white;text-align:justify;}

.spon h1{
text-align: center;
font-weight: bold;
color: white;
font-size: 50px;
}	
h1{
text-align: center;
}		
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;

}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#slide img{
	justify-content: center;
	align-items: center;
}
.slider{
	background-color: white;
	width: 960px;
	height: 100px;
	overflow: hidden;
	position: relative;
	margin: auto;
	box-shadow: 0 10px 20px -5px rgba(0,0,0,0.5);
}
.slider::before,.slider::after{
	content: '';
	position: absolute;
	width: 200px;
	height: 100px;
	background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
	z-index: 2;
}
.slider::after{
	top: 0;
	right: 0;
	transform: rotateZ(180deg);
}

.slider .slider-track{
	display: flex;
	width: calc(250px * 14);
	animation: scroll 40s infinite linear;
}
.slider .slide img{
	width:  250px;
	height: 100px;
}
@keyframes scroll{
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(calc(-250px * 7));
	}
}
	
	